#user-form
  = simple_form_for(@user) do |f|
    = f.error_notification

    .form-inputs
      = f.input :email
      = f.input :password
      = f.input :admin if current_user.admin?
      = f.input :display_name

    .form-actions
      = f.button :submit
