<%= simple_form_for @post do |f| %>
  <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :category, collection: Category.pluck(:description), prompt: "Select a category" %>
      <%= f.input :status, collection: Post::STATUS_CHOICES, prompt: "Select status" %>
      <%= f.input :body, as: :ckeditor, input_html: { ckeditor: { toolbar: "Full"} } %>
    </div>
<br>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>