%h1 Manage Posts

%table.tables
  %thead
    %tr
      %th Title
      %th Author
      %th Last Editedy By
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= link_to post.title, post
        %td= post.author.display_name
        %td.last-edited-by
          - if post.editors.present?
            =  post.last_editor.display_name
        %td= link_to "Edit", edit_post_path(post)
        %td= link_to "Delete", post, :method => :delete, :data => { :confirm => "Are you sure?" }
= will_paginate @posts

%br

= link_to "New Post", new_post_path, class: "btn"
