%li.nav-link
  =link_to "Blog", root_path
%li.nav-link
  = link_to "About", about_index_path
%li.nav-link
  = link_to "Contact", contact_index_path
- if signed_in?
  %li.nav-link.more
    = link_to "Manage", "#"
    %ul.submenu
      %li
        = link_to "Blog Entries", posts_path
      %li
        = link_to "Categories", categories_path
      - if current_user.admin?
        %li
          = link_to "Contributors", users_path
      %li
        = link_to "Sign Out", sign_out_path, { method: :delete }
